<div class="mainDiv">
    <mat-toolbar class="topDiv">
        <span class="titulo">Bruno Mendes Carvalho</span>
    </mat-toolbar>
    <div class="areaContentDiv">
        <section class="socialDiv">
            <p class="subTitle">Minhas redes</p>
            <span class="icons">
                <a href="https://github.com/brunoyillli">
                    <img src="assets/github_icon.svg" alt="github icon">
                </a>
                <a href="https://www.linkedin.com/in/bruno-mendes-carvalho-481227177/">
                    <img src="assets/linkedin_icon.svg" alt="linkedin icon">
                </a>
            </span>
        </section>
        <section class="mainContentDiv">
            <div>
                <div class="subTitleConfig">
                    <hr class="hrConfig">
                    <p class="subTitle">Resumo</p>
                    <hr>
                </div>
                Experiencia com Java 8, 11 e 17, desenvolvimento de apis com Spring Boot, Spring Data, spring Cloud, spring Securty e outros frameworks,
                desenvolvimento de microsserviços e também desenvolvimento com JSF, JSP e outras tecnologias do JAVA EE e desenvolvimento
                front-end com angular e typscript e banco de dados SQL, MySQL, MongoDB e PostgreSQL.
            </div>
            <div>
                <div class="subTitleConfig">
                    <hr class="hrConfig">
                    <p class="subTitle">Experiencia</p>
                    <hr>
                </div>
                <div class="empregosDiv">
                    <mat-card class="emprego">
                        Globalweb Corp -
                        Software Developer II
                        <ul>
                            <li>set de 2022 - o momento</li>
                            <li>Desenvolvimento full stack de novas aplicações em Java e micros serviços, com Spring Boot , Spring Data, Spring Security e outros frameworks e com banco de dados Oracle e SQL e front-end com Angular e Typescript em banco nacional.</li>
                        </ul>
                    </mat-card>
                    <mat-card class="emprego">
                        7COMm -
                        Software Developer II
                        <ul>
                            <li>mai de 2021 - set de 2022</li>
                            <li>Desenvolvimento de microsserviços na arquitetura de BFF para banco Bradesco utilizando Java 8 e Framework​ Spring, serviços Spring Boot e APIs Rest​ e atuação em aplicação mobile em java e processo de integração continua CI/CD.</li>
                        </ul>
                    </mat-card>
                    <mat-card class="emprego">
                        UOL -
                        Software Developer II
                        <ul>
                            <li>mar de 2022 - jul de 2022</li>
                            <li>Prestador de serviço atuando em migrações de sistemas legados para uma arquitetura mais voltada a microserviços. Utilizando tecnologias como: Spring Framework, Spring Boot, Rest e correção de bugs e melhorias no back-end e front-end em javascript e angular.</li>
                        </ul>
                    </mat-card>
                    <mat-card class="emprego">
                        TOTVS -
                        Analista de Sistemas Júnior
                        <ul>
                            <li>dez de 2019 - mai de 2021</li>
                            <li>Desenvolvimento de sistema de custódia de documentos fiscais e geração de relatórios consolidados na AWS, composto por APIs Rest na plataforma Java, utilizando​ Framework​ Spring, serviços Spring Boot​ e mensageira na plataforma SQS e com bases de dados MongoDB e PostgreSQL.</li>
                        </ul>
                    </mat-card>
                    <mat-card class="emprego">
                        TOTVS -
                        Técnico em Desenvolvimento de Sistemas
                        <ul>
                            <li>out de 2018 - dez de 2019</li>
                            <li>Atuação em desenvolvimento de layout de transmissão de notas para municípios, manutenção e melhorias no sistema e integração do webservice com outros ERP como Protheus, Datasul, logix e RM. Linguagens - Java e advpl</li>
                        </ul>
                    </mat-card>
                </div>
            </div>
        </section>
    </div>
</div>